# Flutter/Dart/Pub
.dart_tool/
.packages
.pub/
build/
flutter_export_environment.sh
Generated.xcconfig
Generated.xcsettings

# IntelliJ / VS Code
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Android
.gradle/
local.properties
**/android/**/gradlew
**/android/**/gradlew.bat
**/android/**/gradle-wrapper.jar
**/android/**/gradle-wrapper.properties
**/android/**/build/

# iOS
Pods/
Podfile.lock
ios/Flutter/.last_build_id
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.symlinks/
ios/DerivedData/
ios/Runner.xcworkspace/xcuserdata/
ios/Runner.xcodeproj/xcuserdata/

# Xcode
*.xcworkspace
*.xcuserstate
*.xcuserdatad
*.moved-aside

# Firebase / Config
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# Misc
*.log
*.tmp
*.swp
*.DS_Store
